@keyframes move {
	from{
		transform: rotate(-20deg) rotateY(0deg);
		left: 0px;
	}

	to{
		transform: rotate(20deg) rotateY(180deg);
		left: calc(100% - 20%);
	}
}

@keyframes disco1 {
	from {
		background-color:pink;
	}
	10% {
		background-color: limegreen;
	}
	20% {
		background-color: crimson;
	}
	30% {
		background-color: royalblue;
	}
	40% {
		background-color: orange;
	}
	50% {
		background-color: purple;
	}
	60% {
		background-color: firebrick;
	}
	70% {
		background-color: violet;
	}
	80% {
		background-color: darkgrey;
	}
	90% {
		background-color: green;
	}
}

img {
	top: 20%;
	height: 40%;
	position: absolute;
	animation: move 2s infinite alternate ease-in-out;
}

body {
	overflow: hidden;
	background: pink;
}

h1{
	font-size: 50px;
	text-align: center;
	font-family:'Papyrus';
}

.disco-first {
	animation: disco1 2s infinite alternate;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                    not supported by any browser */
}

/*.noselect:hover {
    filter: invert(100%) ;
}*/